.button {
  background-color: $purple;
  color: #fff;
  border: none;
  cursor: pointer;
  line-height: 1.2;
  padding: $input-spacing;
  text-transform: uppercase;
  font-size: $base-font-size;
  margin-bottom: $space;
}

.button--link {
  margin-top: $space;
  display: inline-block;
  text-decoration: none;
}

.button--pill {
  background-color: transparent;
  border: 1px solid $button-pill-color;
  color: $button-pill-color;
  margin: 0 ($space/2) 0 0;
  padding: .3rem .8rem;
}

.button--secondary {
  background-color: $gray;
  color: $purple;
}

.button--link-text {
  background: none;
  color: #fff;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  text-transform: none;
}
